// Custom CSS for the webpage

// Variables
:root {
	--link_color: inherit;
	--background_color2: #0066ff;
	--background_color1: #002233;
	--text_color: white;
	--text_color_secondary: grey;
}

body {
	.welcome {
		height: 100vh;
	}
}

$common_transition_timing: 0.3s;

/* Custom style for the footer link and footer link hover effects */
.footer {
	background-color: var(--background_color1);
	width: 100vw;
	position: fixed;
	left: 0;
	bottom: 0;
}

.footer-link {
	color: var(--link_color);
	text-decoration: none;

	:hover {
		color: var(--background_color2);
		text-decoration: none;
		cursor: pointer;
	}
}



// Mobile Devices
@media only screen and (max-width: 480px) {
	body {
		.welcome-box {
			.welcome-title {
				margin-top: 5vh;
				text-align: center;
			}

			.title-text {
				letter-spacing: 1vw;
				font-weight: bold;
				text-shadow: 4px 4px 8px black;
			}
		}

	}
}