@import "variables.scss";

/* Custom style for the footer link and footer link hover effects */
.footer-container {
  background-color: var(--background_color1);
  width: 100%;
  position: inherit;
  bottom: 0;
  color: var(--text_color);

  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   align-content: space-between;
  //   justify-content: space-between;

  padding: 30px;
  margin-top: 10px;

  .footer-socials-container {
    h2 {
      display: none;
    }

    ul {
      list-style-type: none;

      li {
        padding: 10px;
        display: inline;

        .discordLogo {
          height: 40px;
        }
        .globeLogo {
          height: 30px;
        }
      }
    }
  }

  .links-container {
    text-align: end;
    @media screen and (max-width: $medium) {
      text-align: center;
    }
    ul {
      list-style-type: none;
    }
  }

  .bottom-footer-container {
    .credit-container {
      text-align: start;
      .credit {
        margin-left: 40px;

        .creator {
          text-decoration: none;
          color: var(--background_color2);
        }
      }
      @media screen and (max-width: $medium) {
        text-align: center;
      }
    }

    .version-container {
      text-align: end;
      @media screen and (max-width: $medium) {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: $medium) {
    text-align: center;
  }
}

/* .footer-link {
  color: var(--link_color);
  text-decoration: none;

  :hover {
    color: var(--background_color2);
    text-decoration: none;
    cursor: pointer;
  }
} */
