/* 
SCSS styleshet for Header.jsx component
By: Mushfiqur Rahman Abir
Date: 8/15/2022 
*/
@import "variables.scss";

.nav-container {
  background-color: var(--header, white);
  box-shadow: 2px 2px 20px var(--shadow);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;

  .theme {
    img {
      height: 30px;
    }
  }
}
