// Custom CSS for the webpage

@import "./variables.scss";

body {
  .welcome {
    height: 100vh;
  }

  .title-text {
    background: linear-gradient(rgb(60, 60, 197), rgb(204, 199, 244));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}

$common_transition_timing: 0.3s;

// Mobile Devices
@media only screen and (max-width: 768px) {
  body {
    .welcome-box {
      width: 100%;

      .welcome-title {
        margin-top: 5vh;
        text-align: center;
      }

      .title-text {
        text-align: center;
        letter-spacing: 1vw;
        font-weight: bold;
        text-shadow: 4px 4px 8px black;
      }
    }
  }
}
