// Custom CSS for the webpage
/* SCSS Variables for the whole website */

@import "./variables.scss";

.darkmode {
  color: white;
  --header: rgb(41, 41, 41);
  --footer: rgb(41, 41, 41);
  --text_color: white;
  background-color: rgb(0, 0, 0);
  --shadow: rgb(84, 84, 84);
  --card: rgb(41, 41, 41);
  --card-hover: rgb(41, 41, 41);
  .globeLogo {
    filter: invert(0%);
  }
}

// ----------------------------------------- Styles -------------------------------
* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
}

body {
  .welcome {
    height: 100vh;
  }

  .title-text {
    background: linear-gradient(
      var(--blue, blue),
      var(--light-blue, rgb(204, 199, 244))
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}

// Mobile Devices
@media only screen and (max-width: 768px) {
  body {
    .welcome-box {
      width: 100%;

      .welcome-title {
        margin-top: 5vh;
        text-align: center;
      }

      .title-text {
        text-align: center;
        letter-spacing: 1vw;
        font-weight: bold;
        text-shadow: 4px 4px 8px var(--black, black);
      }
    }
  }
}
