@import "variables.scss";

body {
  .card {
    margin-top: 3vh;
    width: 18rem;
    transition: 0.5s;
    background-color: var(--card, white);

    &:hover {
      box-shadow: 12px 12px 30px var(--shadow);
      background-color: var(--card-hover, white);
    }
  }
  .github-btn {
    transition: 0.3s ease-in;
    font-weight: bold;
    &:hover {
      letter-spacing: 0.5rem;
      animation-name: githubBtn;
      animation-duration: 0.3s;
      animation-direction: alternate-reverse;
      animation-iteration-count: infinite;
      @keyframes githubBtn {
        from {
          background-color: blue;
        }
        to {
          background-color: rgb(26, 0, 153);
        }
      }
    }
  }
}

// For Mobile Screens
@media only screen and (max-width: 768px) {
  body {
    .card {
      margin-bottom: 2vh;
      width: 100%;
      padding: 10px;
    }
  }
}
