/* /* SCSS Variables for the whole website 

// Variables
:root {
  --link_color: inherit;
  --background_color2: #0066ff;
  --background_color1: white;
  --text_color: black;
  --text_color_secondary: grey;
}

// Screen sizes
$small: 300px;
$medium: 900px;

.darkmode {
  color: white;
  --background_color1: black;
  --text_color: white;
  background-color: grey;
}
 */
