/* SCSS Variables for the whole website */

// Variables
:root {
  --link_color: inherit;
  --background_color2: #0066ff;
  --background_color1: rgb(55, 55, 55);
  --text_color: white;
  --text_color_secondary: grey;
}
