//SCSS Variables for the whole website

// Variables
// Variables
$common_transition_timing: 0.3s;
// Screen sizes
$small: 300px;
$medium: 900px;

// CSS Variables

$halloween_blue: #b37835;
$default_blue: #0066ff;

:root {
  --black: black;
  --link_color: inherit;
  --blue: #{$halloween_blue}; // change this line to switch theme colors
  --light-blue: rgb(204, 199, 244);
  --header: white;
  --footer: white;
  --text_color: black;
  --shadow: black;
  --card: rgb(246, 246, 246);
  --card-hover: rgb(223, 223, 223);
}

// :root {
//   --black: black;
//   --link_color: inherit;
//   --blue: #b37835;
//   --light-blue: rgb(204, 199, 244);
//   --header: white;
//   --footer: white;
//   --text_color: black;
//   --shadow: black;
//   --card: rgb(246, 246, 246);
//   --card-hover: rgb(223, 223, 223);
// }
